<div class="row cp-cont">
  <div class="col-12 col-sm-6">
    <div class="col-12 np-text">
      <h2>¡Felicitaciones!</h2>
      Su propiedad <a routerLink="/propiedad/{{id}}">{{titulo}}</a> <span class="rem-online">&nbsp;YA SE ENCUENTRA ONLINE</span>
      en creoprop y los sitios asociados al mismo.
    </div>
    <div class="col-12 row">
      <div class="col-12 col-sm-4"><button type="button" class="w-100 btn btn-cprop" routerLink="/new-prop">PUBLICAR NUEVA</button></div>
      <div class="col-12 col-sm-4"><button type="button" class="w-100 btn btn-cprop" routerLink="/new-prop">PUBLICAR SIMILAR</button></div>
      <div class="col-12 col-sm-4"><button type="button" class="w-100 btn btn-cprop" routerLink="/mi-cuenta">IR A MI CUENTA</button></div>
    </div>
  </div>

  <div class="col-12 col-sm-6 row">
    <div class="col">
      <div class="col-12 np-text text-center">creoprop</div>
      <div class="col-12 np-ok-ps">
      </div>
    </div>

    <div class="col">
      <div class="col-12 np-text text-center">miprop</div>
      <div class="col-12 np-ok-ps">
      </div>
    </div>

    <div class="col">
      <div class="col-12 np-text text-center">tuprop</div>
      <div class="col-12 np-ok-ps">
      </div>
    </div>
  </div>
</div>
