<div class="row">
  <div class="col-12 header-container">
    <div class="header">
      <div class="left-controls">
        <div class="user-info container-fluid">
          <div class="row">
            <div class="col-4">
              <img [src]="'http://192.168.0.13/' + perfil.img" alt="Sin imagen" class="user-logo">
            </div>
            <div class="col-8">
              <p class="user-name">{{ userName }}</p>
              <p class="user-name">{{ userLog.tipoUser }}</p>
              <p class="user-plan">VIP 3</p>
            </div>
          </div>
        </div>
        <div class="tabs">
          <ul class="nav nav-tabs navbar-dropdown">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#mispropiedades">MIS PROPIEDADES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#visitas">VISITAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#estadocuenta">ESTADO DE MI CUENTA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#pagos">PAGOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#miperfil">EDITAR MI PERFIL</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="right-controls d-flex align-items-center">
        <button type="button" class="w-100 btn btn-update-plan" routerLink="/update-plan">$ Recargar</button>
      </div>
    </div>
    <!--  -->
  </div>
  <div class="col-12">
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="mispropiedades">
        <div class="row">
          <div class="sidebar">
            <div class="search-toolbar-container">
              <app-barra-busqueda [propietario]="propietario_id" searchPath='/mi-cuenta' [hideFilter]="['precio','expensas','superficie','tipoAmbiente','generales','servicios','tipoAnunciante']"></app-barra-busqueda>
            </div>
          </div>

          <div class="content">
            <app-prop-result [listMode]="true" [pActivas]=pActivas [pInactivas]=pInactivas [propietario]="propietario_id" [mode]="'userProp'"></app-prop-result>
          </div>
        </div>
      </div>
      <div class="tab-pane container fade" id="visitas">
        <app-user-visitas></app-user-visitas>
      </div>
      <div class="tab-pane container fade" id="estadocuenta">
        <app-estado-cuenta></app-estado-cuenta>
      </div>
      <div class="tab-pane container fade" id="pagos">
        <app-user-pagos></app-user-pagos>
      </div>
      <div class="tab-pane container fade" id="mensajes">
        <app-user-mensajes></app-user-mensajes>
      </div>
      <div class="tab-pane container fade" id="miperfil">
        <app-perfil-view [editable]="true"></app-perfil-view>
      </div>
    </div>
  </div>
</div>
