.sidebar {
    width: 21%;
    float: left;
    padding: 0 0 0 0.9rem;
}

.content {
    width: 79%;
    float: left;
    padding: 0 0.9rem;
}

a {
    color: #6d6d6d !important;
    width: inherit;
}

a:hover {
    border-bottom: solid 3px #6d6d6d !important;
    display: inline-block !important;
    transition: 0.3s !important;
    transition-property: all !important;
}

a.active {
    border-bottom: solid 3px #6d6d6d !important;
    display: inline-block !important;
    transition: 0.3s !important;
}

.btn-update-plan {
    background-color: #e7585d;
    color: white;
    font-size: 22px;
    padding: 0.1rem 1.05rem;
    margin-top: -5px;
}

.header-container {
    background: #f7f7f7;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.header {
    display: flex;
}

.header .left-controls {
    flex: 1;
    padding-top: 10px;
    padding-left: 50px;
}

.header .right-controls {
    padding-bottom: 70px;
}

.header .nav-tabs {
    font-size: 13px;
    border-bottom: none;
}

.tabs {
    position: absolute;
    bottom: 1px;
}

.header .nav-link {
    padding: 0;
    margin-right: 40px;
    border: none;
    color: #808183;
    font-weight: normal;
}

.header .nav-link.active {
    font-weight: bold;
    color: black !important;
    background-color: transparent;
}

.search-toolbar-container {
    padding: 43px 15px 0;
}

.propiedades-activas-inactiva button {
    margin-top: 20px !important;
}

.user-info-container {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    margin-bottom: 20px;
    background: #f7f7f7;
    z-index: 1;
}

.img-profile-container {
  position: relative;
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 154px;
}

.img-profile-container img {
    max-width: 100%;
    max-height: 100%;
}

.profile-info-container {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    max-width: 50%;
    padding: 0 20px;
}

.profile-info-container p,
.profile-info-container h2 {
    width: 100%;
    margin: 0;
    padding: 10px 0;
}

.profile-info-container h2 {
    font-size: 1.5rem;
}

.profile-info-container p:nth-of-type(1) {
    color: #868686;
    font-weight: bold;
}

.profile-info-container p:nth-of-type(2) {
    color: #b9b9b9;
}

.btn-icon-flat {
    border: none;
    background: transparent;
    width: 60px;
    outline: none;
    display: inline-flex;
    justify-content: center;
    flex-flow: row wrap;
}

.btn-icon-flat i {
    width: 25px;
}

.icon-button {
    position: relative;
    font-weight: normal;
    cursor: pointer !important;
    outline: none;
    color: #868686;
    z-index: 1;
}

.icon-button::before {
    content: " ";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #e2e2e2;
    z-index: -1;
    top: -7px;
    left: -8px;
    border-radius: 50%;
    display: none;
}

.icon-button:hover::before {
    display: block;
    transition: .3s ease-out;
    -webkit-transition: .3s ease-out;
    -moz-transition: .3s ease-out;
    -ms-transition: .3s ease-out;
    -o-transition: .3s ease-out;
}

.btn-edit-img {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FFF;
    height: 32px;
    width: 40px;
}

.btn-edit-img .icon-button::before {
    top: -3px;
    left: -3px;
    width: 30px;
    height: 30px;
}

.name-edit {
    margin-bottom: 15px;
}

.propiedades-activas-inactiva button {
    margin-top: 20px !important;
}

.estado-cuenta {
    display: none;
}

.buttons-container {
    margin-bottom: 30px;
}

.verified-label {
    margin-top: 15px;
    color: #28a745;
    display: flex;
    align-items: center;
    font-size: 18px;
    flex-flow: row;
}

.verified-label i {
    margin-top: -4px;
    margin-left: 5px;
}
