<div class="container">

<div class="row">
  <div class="col-sm-7 mt-3">
    <div class="card col-sm-12">
      <div class="row no-gutters p-3 profilecard">
        <div class="col-auto">
          <img src="//placehold.it/200" class="img-fluid" alt="">
        </div>
        <div class="col">
          <div class="card-block px-2 pr-1">
            <h4 class="card-title">Agent name</h4>
            <p class="card-text text-muted w-20">NATIONALITY: </p>
            <p class="card-text text-muted w-20">LANGUAJES: </p>
          </div>
        </div>
      </div>
      <div class="row border-top -solid -1px profilecard">
        <div class="row col-sm-12">
          <h4 class="pl-2">PERSONAL INFORMATION</h4>
        </div>
        <div class="col text-uppercase text-muted">
          <p>Active listings:</p>
          <p>Licence NO:</p>
          <p>Experience since:</p>
        </div>
        <div class="col">
          <p class="text-muted">AREAS: </p>
        </div>

      </div>
    </div>
  </div>

  <div class="col-sm-4 mt-3">
    <div class="card mt-3">
      <h4 class="card-title mt-2 pl-3">CONTACTAR ESTE AGENTE</h4>
      <div class="col-12 my-2"><button type="button" class="w-100 btn btn-cprop" routerLink="/new-prop">Mail</button></div>
      <div class="col-12 my-2"><button type="button" class="w-100 btn btn-cprop" routerLink="/new-prop">Telefono</button></div>
    </div>
    <div class="card mt-5">
      <h4 class="card-title mt-2 pl-3">INMOBILIARIA</h4>
      <div class="row">
        <div class="col-4">
          <img src="..." class="img-fluid" alt="...">
        </div>
        <div class="col-8">
          <p> Nombre de la inmobiliaria</p>
          <p href="#">Ver perfil</p>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
