<div class="container">

<div class="row">
  <div class="col-sm-7 mt-3">
    <div class="card col-sm-12">
      <div class="row no-gutters p-3 profilecard">
        <h3 class="btn-edit" *ngIf="editable" (click)="edit()"><i class="fa btn-fa fa-pencil" ></i></h3>
        <div class="col-sm-4 col-auto">
          <img src="{{perfil.img}}" class="img-fluid" alt="Imagen de perfil">
        </div>
        <div class="col">
          <div class="card-block px-2 pr-1">
            <h4 class="card-title">{{perfil.apellido}} {{perfil.nombre}}</h4>
            <p class="card-text text-muted w-20">{{perfil.ubicacion}}</p>
          </div>
        </div>
      </div>
      <div class="row border-top -solid -1px profilecard">
        <div class="row col-sm-12">
          <h4 class="pl-2">INFORMACiÓN PERSONAL</h4>
        </div>
        <div class="col text-uppercase text-muted">
          <p>Usuario desde: {{perfil.usuario_desde}}</p>
          <p>Propiedades publicadas: {{perfil.prop_count}}</p>
        </div>
        <div class="col">
        </div>

      </div>
    </div>
  </div>

  <div class="col-sm-4 mt-3" *ngIf="!editable">
    <div class="card mt-3">
      <h4 class="card-title mt-2 pl-3">CONTACTAR ESTE AGENTE</h4>
      <div class="col-12 my-2"><button type="button" class="w-100 btn btn-cprop" routerLink="/new-prop">Mail</button></div>
      <div class="col-12 my-2"><button type="button" class="w-100 btn btn-cprop" routerLink="/new-prop">Telefono</button></div>
    </div>
    <div class="card mt-5" *ngIf="perfil.inmobiliaria.nombre">
      <h4 class="card-title mt-2 pl-3">INMOBILIARIA</h4>
      <div class="row">
        <div class="col-auto">
          <img src="./{{perfil.inmobiliaria.logo}}">
        </div>
        <div class="col">
          <h3>{{perfil.inmobiliaria.nombre}}</h3>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
