footer{
  font-size: 0.8em;
  background-color: #eee;
  box-shadow: 9px 3px 4px 1px;
}

footer div{margin-right: 0px;
margin-left: 0px;}

footer .list-group-item{
  border: none;
  background: none;
  padding: 0px;
}

.img-footer{
  height: 3em;
}

.footer-3{
  height: 2.6em;
  padding: 0.3em;
  background-color: #fff;
  font-size: 1.1em;
}

.footer-1{
  padding: 1em;
}

.footer-1 .tit{
  font-weight: lighter;
}

.footer-2 {
  color: #76a6c7;
  padding-bottom: 1em;
}

.footer-2 li{
  cursor: pointer;

}

.subtitle {
  color: black;
  font-size: 1.2em;
  margin-bottom: 2px;
}
