.cont{margin-top:3.5rem;}

p{color:#bbb;}

.card-precio .card-header .col{ text-align:center;font-weight: bold;}
.card-precio {min-height: 16rem;}

.bt-cont{ position: absolute;width: 100%;bottom: 1rem; }

.v0{ background-color: #ddd;}
.v1 {background-color: #d6e7dd;}
.v2 {background-color: #c1e0ff}

.vp { font-size: 1.5rem; }

.pktit {height: 6rem;}

.mp-cont{margin-top: 2rem;}

.btn-cprop {
  background-color: #d32127;
  border-radius: 0.3rem;
  font-size: 13pt;
}