.cont{margin-top:3.5rem;}

p, .gray-text{color:#9b9b9b;}

.card-precio .card-header .col{ text-align:center;font-weight: bold;}
.card-precio {min-height: 16rem;}

.bt-cont{ position: absolute;width: 100%;bottom: 1rem; }

.v0{ background-color: #ddd;}
.v1 {background-color: #d6e7dd;}
.v2 {background-color: #c1e0ff}

.vp { font-size: 1.5rem; }

.pktit {height: 6rem;}

.mp-cont{margin-top: 2rem;}

.btn-cprop {
  background-color: #ed1b24;
  border-radius: 0.3rem;
  font-size: 13pt;
  font-weight: normal;
  width: 70%;
  color:white!important;
}
.btn-cprop:hover
{
  opacity: 0.7;
}
.medios-pago img{
  max-width: 86%;
  height: auto;
  margin-right: 10px;
}

.plan {
  border-right: 1px solid #e0e0e0;
}

.plan:last-of-type {
  border-right: none;
}
.btn-publish-now
{
  background-color: #57a639;
}
.btn-mercadopago
{
  display: block;
  width: 100%;
  height: 100%;
}
.navbar
{
  z-index: 44!important;
}  
footer,.searchForm{
  display:none!important
}