<div class="row cont">
  <div class="col-md-4 col-12 plan" *ngFor="let plan of planes">
    <div class="col-12 pktit">
      <div class="row text-center">
        <h2 class="col-12 text-crp">{{plan.t}}</h2>
        <h5 class="col-12 gray-text">{{plan.st}}</h5>
      </div>
    </div>
    <div class="col-12">
      <div class="card card-precio">
        <div class="card-header {{plan.class}}">
          <div class="row align-items-center">
            <div class="col col-3 vp"> {{plan.en1}} </div>
            <div class="col col-6"> {{plan.en2}} </div>
            <div class="col col-3"> {{plan.en3}} </div>
          </div>
        </div>
        <div class="card-body">
          <div class="col-12">
            <p>{{plan.bd1}}</p>
            <p>{{plan.bd2}}</p>
          </div>
          <div class="row bt-cont">
            <div class="col-12 col-sm-10 offset-sm-1 text-center" *ngIf="registrado && subscription.id_plan==plan.id">
              <div *ngIf="(subscription.max_avisos_disponibles>0 || subscription.max_avisos_disponibles==-1)">
                <button type="button" class="btn btn-cprop btn-publish-now" data-toggle="modal" routerLink="/new-prop">
                  <span *ngIf="registrado && subscription.id_plan==plan.id">Publicar</span>
                </button>
              </div>
              <div *ngIf="(subscription.max_avisos_disponibles==0)">
                <span>No quedan publicaciones</span>
              </div>
            </div>
            <div id="shop-button" class="col-12 col-sm-10 offset-sm-1 text-center" *ngIf="registrado && subscription.id_plan!=plan.id &&plan.id!=1">
              <a href="{{ plan.mercadopago_url }}" name="MP-Checkout" class="blue-M-Rn-Ar btn-mercadopago" mp-mode="modal" class="btn btn-cprop"
                data-toggle="modal">
                Comprar
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row mp-cont">
  <div class="col">
  </div>
  <div class="col-12 col-md-3 medios-pago">
    <div class="row">
      <div class="col text-center">Nuestros medios de pago:</div>
    </div>
    <div class="row">
      <div class="col text-center">
        <span>
          <img alt="" src="assets/medios-pago.png" width="auto" height="50px">
        </span>
      </div>
    </div>
  </div>
</div>
