.modal .m-t{
  font-size: 1.8em;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #535151;
  margin: 10px 0;
  padding: 0 14px;
}

.modal-dialog { width:465px; }
.nsp {font-weight: normal;}

.modal-footer{
  height: 46px;
  line-height: 46px;
  text-align: center;
  color: #4d4d4d;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 -2px 4px 0 rgba(172,170,170,.5);
}

.modal-body{
  padding: 2em 1.5em 1.5em;
}

.login-google {
    color: #515151;
    font-weight: 600;
    border: solid 2px #515151;
    box-shadow: none;
    background-color: transparent;
}

.login-google > i {
    display: inline-block;
    width: 32px;
    height: 23px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-size: contain;
}

.login-face {
    background-color: #4267b2;
    color: #fff;
    font-weight: 500;
    border: solid 2px #4267b2;
}

.social-btn {
    display: flex;
    width: 100%;
    line-height: 41px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin: 10px 0;
    text-transform: uppercase;
    box-sizing: border-box;
    cursor: pointer;
}
