<div class="text-center">
  <h5 class="m-t">No tengo cuenta, registrarme</h5>

  <div class="social-login-component">
    <div class="nvt-social-buttons">
      <div class="facebook-btn-container">
        <div id="nvt-login-fb" class="social-btn login-face"><i></i> Continuar con FACEBOOK</div>
      </div>

      <div class="google-btn-container">
        <div class="social-btn login-google js-loginGoogle"><i></i> Continuar con GOOGLE</div>
      </div>
    </div>
  </div>

  <span class="form-separator">O</span>

  <h6 class="form-sub">Ingresar con un email</h6>

  <form>

      <div class="form-group text-left">
        <label for="email">	E-mail	</label>
        <input class="form-control" name="email" placeholder="nombre@mail.com" value="" type="text">
      </div>

      <div class="form-group text-left">
        <label for="password">Contraseña	</label>

        <div class="form-group">
            <input class="form-control" name="password" placeholder="Usá de 6 a 10 caracteres" value="" type="password">
        </div>

      </div>


      <input value="Registrarme" class="btn w-100 btn-large btn-cprop" type="submit">
  </form>
</div>
