<div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-4 offset-lg-4 alert-comp" [ngClass]="{'oculto':oculto}"
  (click)="dismiss()">
  <div class="alert alert-dismissible fade show" [ngClass]="{'alert-danger':danger, 'alert-success':success}" role="alert">
    <div class="alert-cont">
      <span [innerHTML]="msg"></span>
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
