<form>
  <div class="form-group text-left">
    <label for="email">Tipo de usuario</label>
    <select class="form-control" [(ngModel)]="model.tipoUser" name="tipoUser">
      <option *ngFor="let ciud of tipo_us" [value]="ciud.id">{{ciud.nombre}}</option>
    </select>
  </div>

  <div class="form-group text-left">
    <label for="email"> E-mail</label>
    <input class="form-control" name="email" [(ngModel)]="model.email" placeholder="nombre@mail.com" value="" type="text">
  </div>

  <div class="form-group text-left">
    <label for="password">Contraseña</label>

    <div class="form-group">
      <input class="form-control" maxlength="10" name="password" [(ngModel)]="model.pass" placeholder="Usá de 6 a 10 caracteres"
        value="" type="password">
    </div>
  </div>

  <div class="form-group text-left">
    <label for="nombre">Nombre</label>
    <input class="form-control" name="nombre" [(ngModel)]="model.nombre" placeholder="" value="" type="text">
  </div>

  <div class="form-group text-left" *ngIf="model.tipoUser != 1">
    <label for="nombre">Apellido</label>
    <input class="form-control" name="apellido" [(ngModel)]="model.apellido" placeholder="" value="" type="text">
  </div>

  <div class="form-group text-left" *ngIf="model.tipoUser != 1">
    <label for="nombre">Nombre de la inmobiliaria {{ model.tipoUser == 3 ? 'a la que pertenece' : '' }}</label>
    <input class="form-control" name="apellido" [(ngModel)]="model.nombreInmo" placeholder="" value="" type="text">
  </div>

  <div class="form-group text-left" *ngIf="model.tipoUser == 2">
    <label for="nombre">Ubicación geográfica de la inmobiliaria</label>
    <input class="form-control" name="apellido" [(ngModel)]="model.ubiInmo" placeholder="" value="" type="text">
  </div>

  <div class="form-group text-left" *ngIf="model.tipoUser != 1">
    <label for="nombre">Número de matrícula de martillero</label>
    <input class="form-control" name="apellido" [(ngModel)]="model.nroMatricula" placeholder="" value="" type="text">
  </div>

  <!-- <div class="form-group text-left" *ngIf="model.tipoUser == 1">
    <label for="nombre">CUIT</label>
    <input class="form-control" name="cuit" [(ngModel)]="model.cuit" placeholder="" value="" type="text">
  </div> -->

  <div class="form-group text-left" *ngIf="model.tipoUser == 0">
    <label for="nombre">DNI</label>
    <input class="form-control" name="dni" [(ngModel)]="model.dni" placeholder="" value="" type="text">
  </div>

  <div class="form-group text-left">
    <label for="nombre">Teléfono movil</label>
    <input class="form-control" name="telefono" maxlength="13" [(ngModel)]="model.telefono" placeholder="ej: +541231234567" value=""
      type="text">
    <small>Incluya el código de país ej: +541231234567 </small>
  </div>


  <!--
  <div class="form-group text-left" *ngIf="model.tipoUser == 1">
    <label for="nombre">Teléfono</label>
    <input class="form-control" name="telFijo" [(ngModel)]="model.telFijo" placeholder="" value="" type="text">
  </div> -->

  <input value="Registrarme" class="btn w-100 btn-large btn-cprop" type="submit" (click)="nuevo()">
</form>
