<form>

    <div class="form-group text-left">
      <label for="email">	E-mail</label>
      <input class="form-control" name="email" placeholder="nombre@mail.com" value="" type="text">
    </div>

    <div class="form-group text-left">
      <label for="password">Contraseña</label>

      <div class="form-group">
          <input class="form-control" name="password" placeholder="Usá de 6 a 10 caracteres" value="" type="password">
      </div>
    </div>

    <div class="form-group text-left">
      <label for="nombre">Nombre</label>
      <input class="form-control" name="nombre" placeholder="" value="" type="text">
    </div>

    <div class="form-group text-left">
      <label for="nombre">Apellido</label>
      <input class="form-control" name="apellido" placeholder="" value="" type="text">
    </div>

    <div class="form-group text-left">
      <label for="nombre">DNI</label>
      <input class="form-control" name="dni" placeholder="" value="" type="text">
    </div>

    <div class="form-group text-left">
      <label for="nombre">Teléfono movil</label>
      <input class="form-control" name="nombre" placeholder="" value="" type="text">
    </div>

    <input value="Registrarme" class="btn w-100 btn-large btn-cprop" type="submit">
</form>
