<div class="row p-detail-p">
  <div class="col-12 col-md-8">

    <div class="col-12 c-card">
      <div class="card">

        <div class="card-body row">
          <div class="col-auto back-arr-btn row align-items-center">
            <div class="col">
              <i class="fa fa-arrow-left link-btn" routerLink="/"></i>
            </div>
          </div>

          <div class="col">
            <h5 class="card-title">{{propiedad.titulo}}</h5>
            <span class="col-12 pl-0 subt">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              {{propiedad.direccion}},&nbsp;{{propiedad.nombre_zona}}
            </span>
          </div>

          <div class="row col-12 col-md-4  order-12">
            <div class="col-12 cont-btn">
              <i class="fa fa-heart link-btn"></i>
              <i class="fa fa-share-alt link-btn"></i>
              <i class="fa fa-print link-btn"></i>
            </div>
            <div class="col-12 btn-denu">
              <a data-toggle="modal" data-target="#denunciaModal" (click)="denunciar()">DENUNCIAR AVISO
              </a>
            </div>
          </div>
        </div>

        <div class="card-body img-cont">
          <div id="imgs-det" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item" *ngFor="let v of propiedad.files let i = index" [ngClass]="{'active' : i == 0}">
                <img class="card-img-bottom img-map" src="{{ v['nombre'] != 'googlemapimage' ? 'http://192.168.0.13/' + v['nombre'] : v['url'] }}" alt="{{v.titulo}}">
              </div>
            </div>

            <a class="carousel-control-prev" href="#imgs-det" data-slide="prev">
              <div class="carrusel-ic">
                <i class="fa fa-angle-left"></i>
              </div>
            </a>
            <a class="carousel-control-next" href="#imgs-det" data-slide="next">
              <div class="carrusel-ic">
                <i class="fa fa-angle-right"></i>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>

    <div class="col-12 c-card">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">UBICACIÓN</h5>
          <span class="col-12 pl-0 subt">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            {{propiedad.direccion}},&nbsp;{{propiedad.nombre_zona}}
          </span>
        </div>
        <agm-map [latitude]="propiedad.latitud" [longitude]="propiedad.longitud" [zoom]="16" [scrollwheel]="false">
          <agm-marker [latitude]="propiedad.latitud" [longitude]="propiedad.longitud" [label]="propiedad.titulo"></agm-marker>
        </agm-map>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6 c-card datos-principales">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">DATOS PRINCIPALES</h5>

            <div>
              <div class="col-12">
                <img class="icons" src="assets/img/icons/house.png">
                <span>{{propiedad.tipo_prop[propiedad.tipo_propiedad_id].nombre}}</span>
              </div>
              <div class="col-12">
                <img class="icons" src="assets/img/icons/money.png">
                <span>Precio Venta: {{propiedad.moneda_simbolo}} {{propiedad.precio | number:'1.0'}}</span>
              </div>
              <div class="col-12">
                <img class="icons" src="assets/img/icons/money.png">
                <span>Expensas: {{propiedad.moneda_simbolo}} {{propiedad.expensas | number:'1.0'}}</span>
              </div>
              <div class="col-12">
                <img class="icons" src="assets/img/icons/stotal.png">
                <span>Superficie Total: {{propiedad.superficie_total}}m2</span>
              </div>
              <div class="col-12">
                <img class="icons" src="assets/img/icons/scubierta.png">
                <span>Superficie Cubierta: {{propiedad.superficie_cubierta}}m2</span>
              </div>
              <div class="col-12">
                <img class="icons" src="assets/img/icons/ambiente.png">
                <span>Ambientes: {{propiedad.ambientes_c}}</span>
              </div>
              <div class="col-12">
                <img class="icons" src="assets/img/icons/dormitorio.png">
                <span>Dormitorios: {{propiedad.dormitorios}}</span>
              </div>
              <div class="col-12">
                <img class="icons" src="assets/img/icons/bano.png">
                <span>Baños: {{propiedad.banios}}</span>
              </div>
              <div class="col-12">
                <img class="icons" src="assets/img/icons/disposicion.png">
                <span>Disposición: {{propiedad.disposicion_op[propiedad.disposicion].nombre}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 c-card">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">DESCRIPCIÓN</h5>
            {{propiedad.texto}}
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 c-card" *ngIf="propiedad.carac_gral && propiedad.carac_gral.length > 0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">CARACTERÍSTICAS GENERALES</h5>

            <div class="col-12">
              <div *ngFor="let ub of propiedad.carac_gral" class="col-12">
                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;{{ub.n}}:&nbsp;{{ub.v}}
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 c-card" *ngIf="propiedad.ambientes && propiedad.ambientes.length > 0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">AMBIENTES</h5>

            <div class="col-12">
              <div *ngFor="let ub of propiedad.ambientes" class="col-12">
                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;{{ub.nombre}}
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 c-card" *ngIf="propiedad.servicios && propiedad.servicios.length > 0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">SERVICIOS</h5>

            <div class="col-12">
              <div *ngFor="let ub of propiedad.servicios" class="col-12">
                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;{{ub.nombre}}
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 c-card" *ngIf="propiedad.amenities && propiedad.amenities.length > 0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">AMENITIES</h5>

            <div class="col-12">
              <div *ngFor="let ub of propiedad.amenities" class="col-12">
                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;{{ub.nombre}}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-4 c-card">
    <div class="row c-card">
      <!-- precio -->
      <div class="col-12 c-card">
        <div class="card card-det">
          <div class="card-body">
            <h5 class="card-title may">PRECIO {{propiedad.nombre_operacion}}</h5>
            <h3 class="modern-single-ad-price">{{propiedad.moneda_simbolo}} {{propiedad.precio | number:'1.0' }}</h3>
          </div>
          <div class="card-body topln">
            <div class="row">
              <div class="col rw-det" *ngIf="propiedad.superficie_cubierta != 0">
                <div class="row">
                  <div class="col pl-0 pr-0">
                    <img class="icons" src="assets/img/icons/icon-sup.svg">
                  </div>
                </div>
                <span class="sp">Sup. Cubierta</span>
                <div class="row">
                  <div class="col dt-lg">{{propiedad.superficie_cubierta}}
                    <small>m²</small>
                  </div>
                </div>
              </div>
              <div class="col rw-det" *ngIf="propiedad.ambientes_c != 0">
                <div class="row">
                  <div class="col pl-0 pr-0">
                    <img class="icons" src="assets/img/icons/icon-amb.svg">
                  </div>
                </div>
                <span class="sp">Ambientes</span>
                <div class="row">
                  <div class="col dt-lg">{{propiedad.ambientes_c}}</div>
                </div>
              </div>
              <div class="col rw-det" *ngIf="propiedad.banios != 0">
                <div class="row">
                  <div class="col pl-0 pr-0">
                    <img class="icons" src="assets/img/bath.svg">
                  </div>
                </div>
                <span class="sp">Baños</span>
                <div class="row">
                  <div class="col dt-lg">{{propiedad.banios}}</div>
                </div>
              </div>
              <div class="col rw-det" *ngIf="propiedad.cochera != 0">
                <div class="row">
                  <div class="col pl-0 pr-0">
                    <img class="icons" src="assets/img/icons/icon-coch.svg">
                  </div>
                </div>
                <span class="sp">Cochera</span>
                <div class="row">
                  <div class="col dt-lg">{{propiedad.cochera}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- anunciante -->
      <div class="col-12 c-card">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5>
                  <strong>¡Contactá al anunciante!</strong>
                </h5>
              </div>
            </div>

            <div class="row">
              <div class="col-auto img-profile-container">
                <ng-container *ngIf="propiedad.user.tipo_user_id == 2">
                  <img class="c-pointer" *ngIf="propiedad.inmobiliaria && propiedad.inmobiliaria.logo" [src]="'http://192.168.0.13/' + propiedad.inmobiliaria.logo"
                    (click)="goToPerfil()">
                </ng-container>
                <ng-container *ngIf="propiedad.user.tipo_user_id != 2">
                  <img class="c-pointer" *ngIf="propiedad.user && propiedad.user.profile_img" [src]="'http://192.168.0.13/' + propiedad.user.profile_img"
                    (click)="goToPerfil()">
                </ng-container>
              </div>
              <div class="col contact-info-container" *ngIf="propiedad.user">
                <ng-container *ngIf="propiedad.user.tipo_user_id == 2">
                  <h3 class="c-pointer" *ngIf="propiedad.inmobiliaria" (click)="goToPerfil()">{{ propiedad.inmobiliaria.nombre }}</h3>
                </ng-container>
                <ng-container *ngIf="propiedad.user.tipo_user_id != 2">
                  <h3 class="c-pointer" (click)="goToPerfil()">{{ propiedad.user.name + ' ' + propiedad.user.surname }}</h3>
                </ng-container>

                <div class="col-12 mg-bottom" *ngIf="propiedad.user.tel">
                  <strong>Teléfono oficina:</strong> {{ propiedad.user.tel }}</div>
                <div class="col-12 mg-bottom" *ngIf="propiedad.user.celular">
                  <strong>Teléfono móvil:</strong>
                  <img src="assets/whatsapp.svg" alt="whatsapp" width="25px" style="margin-left: 12px; margin-top: -5px;"> {{ propiedad.user.celular }}
                </div>
                <div class="col-12 mg-bottom" *ngIf="propiedad.user.email">
                  <strong>E-mail:</strong> {{ propiedad.user.email }}</div>
              </div>
            </div>

            <div class="row">
              <form class="col-12">
                <div class="form-group">
                  <label>Mensaje</label>
                  <textarea class="form-control">Hola, vi esta propiedad en Creoprop y quiero que me contacten. Gracias.</textarea>
                </div>

                <div class="form-group">
                  <label>Nombre</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group">
                  <label>E-Mail</label>
                  <input type="email" class="form-control">
                </div>

                <div class="form-group">
                  <label>Teléfono</label>
                  <input type="tel" class="form-control">
                </div>

                <div class="w-100 text-center">
                  <span type="button" class="btn btn-cprop">ENVIAR MENSAJE</span>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>
