.carousel-control-next,
.carousel-control-prev {
    opacity: 1;
}

.carousel-control-next .fa,
.carousel-control-prev .fa {
    color: #444 !important;
    position: absolute;
}

.carousel-control-next .fa {
    left: 19px;
}

.carousel-control-prev .fa {
    left: 14px;
}

.carrusel-ic {
    background-color: #fff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    opacity: 0.5;
}

.carrusel-ic:hover {
    opacity: 1;
}

.card-cont-mapa {
    height: 400px;
}

.modern-single-ad-price,
.may {
    text-transform: uppercase;
    color: #000 !important;
}

.p-detail-p {
    padding-top: 1em;
    padding-bottom: 5rem;
    background: #f0f0f0;
}

.cont-btn {
    text-align: right;
}

.img-cont,
.img-map {
    background: #eee;
}

.form-control {
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0px;
}

.img-cont {
    padding: 0px;
}

.img-map {
   
    width: 100%
}

.card-body .subt {
    color: #8b8785;
}

.card-body .icons {
    width: 20px;
}

.datos-principales span {
    font-weight: bold;
    display: inline-block;
    margin-left: 10px;
}

.card-title {
    color: black;
}

.back-arr-btn,
.card-det .fa {
    color: #000;
}

.card-det .icons {
    height: 50px;
}

.rw-det {
    padding-left: 0.3em;
    padding-right: 0.3em;
    text-align: center;
}

.dt-lg {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.sp {
    font-weight: normal;
    font-size: 0.8em;
}

.btn-denu {
    font-size: 0.9em;
    text-align: right;
    width: 100%;
    color: #69b6d2 !important;
}

.card .topln {
    border-top: 1px solid #ddd;
}

a {
    color: #6d6d6d;
    width: inherit;
}

a.active {
    border-radius: 30px 30px 30px 30px;
}

agm-map {
    height: 225px;
}

.img-profile-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: auto;
    max-height: 140px;
    margin: auto;
    padding: 30px;
}

.img-profile-container img {
    max-width: 100%;
    max-height: 100%;
}

.contact-info-container {
    text-align: left;
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: left;
    padding-left: 19px;
}

.mg-bottom {
    margin-bottom: 10px;
}

.c-pointer {
    cursor: pointer;
}

.c-pointer:hover {
    transition: .2s ease-out;
    color: #00acee;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    -o-transition: .2s ease-out;
}

@media only screen and (max-width: 1299px) {
    .img-profile-container {
        width: 300px;
        height: 154px;
    }
}
.col-12 .icons
{
    vertical-align: top;
}
.temporal-service-prices
{
    list-style: none;
    padding-left: 0px;
    list-style: none;
    text-align: right;
}
.prices-left
{
    width: 45%;
    float: left;
}
.prices-rigth
{
    float: left;
    width: 49%;
}
.col-left
{
    float: left;
    width: 40%;
}
.col-rigth
{
    float: right;
    width: 55%;
}
.topln .temporal-service-prices li
{
    font-weight: bold;
}
.align-right
{
    text-align: right
}
.detail-single-price
{
    font-weight: bold;  
    font-size: 20px;
    display: inline-block;
    width: 100%;
}
.card-title{
    color: black;
    font-size: 20px;
    text-transform: capitalize!important;
}
.topln  .icons {
    width: 50px;
}
.main-details .temporal-service-prices li
{
    text-align: left
}
.bread-link:hover{
    color:#03a9ec!important
}
.bread-link
{
    color: #212529;
    font-size: 14px;
    text-decoration: none;
    color: #212529!important;
    font-weight: normal!important;
    cursor: pointer;
}
.bread-link-home
{
    cursor: pointer;
}
.bread-link a
{
    color: #212529!important;
    font-weight: normal!important;
}
.bread-link-home, .bread-link-address
{
    color: #212529;
    font-size: 14px;
}
.bread-link-address
{
   font-weight: bold;
}
.card-body-transparent
{
    background: transparent;
    box-shadow: none!important;
}
.header-top-container
{
    background: #f0f0f0;
    padding-top: 10px;
    margin-top: -29px;
    padding-left: 14px;
    padding-bottom: 16px;
}
.header-top-icons
{
    color: #212529;
    font-size: 14px;
    text-decoration: none!important;
    color: #212529!important;
    font-weight: normal!important;
    cursor: pointer;
}
.header-top-icons a
{
    color: #212529!important;
    text-decoration: none!important;
    font-weight: normal!important;
    cursor: pointer;
    text-align: right
}
.bread-link:hover{
    color:#03a9ec!important
}
.xspace
{
    margin-top:10px;
}
.rigth-text
{
    text-align: right;
    align-items: center;
    width: 100%;
    padding-right: 3%;
}
.backicon
{
    width: 53px!important;
    height: 32px!important;
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 6px;
    border-radius: 4px;
    margin-top: -23px;
    margin-left: -21px;
}
.backicon:hover
{
    -webkit-box-shadow: 1px 0px 5px 0px rgba(0,172,238,0.69);
    -moz-box-shadow: 1px 0px 5px 0px rgba(0,172,238,0.69);
    box-shadow: 1px 0px 5px 0px rgba(0,172,238,0.69);
}
.card-prices .card-title
{
    font-weight: bold
}
.title-property
{
    font-weight: bold;
}
.p-detail-p .carousel
{
 margin-top: -15px;
}
.fix-align
{
    padding-left: 16px;
}
.see-all-prop
{
    text-decoration: none;
    font-weight: normal
}
.contact-prop
{
    font-weight: bold;
    padding-top: 14px;
    padding-bottom: 10px;
}
.contact-info-container div{
    width: 100%
}
.row-info
{
    padding-left: 25px;
}
.contact-info-container .contact-icons
{
    font-size: 28px;
    width: 28px;
    color: black;
}
.contact-info-with-i
{
    padding-left: 27px;
}
.btn-cred
{
    background: #ed1b24ff;
    border-radius: 5px;
    width: 100%;
    color: white;
}
.btn-cred:hover
{
    -webkit-box-shadow: 1px 0px 5px 0px rgba(0,172,238,0.69);
    -moz-box-shadow: 1px 0px 5px 0px rgba(0,172,238,0.69);
    box-shadow: 1px 0px 5px 0px rgba(0,172,238,0.69);
    opacity: 0.9;
}
.bread-link-home:hover
{
    font-weight: bold
}