

<div class="row p-detail-p">


  <div class="col-12 col-md-9" style="padding-right: 0px;">
     
        
    <div class="col-12 c-card">
      <div class="card card-body-transparent">

        <div class="card-body  row">
          <div class="col-auto back-arr-btn row align-items-center">
            <div class="col">
                <img class="icons backicon" src="assets/img/icons/back-icon.png" routerLink="/">
            </div>
          </div>

          <div class="col">
              <div class="row header-top-container">
                  <span class="col-12 pl-0 breadcumbs">
                   <span [routerLink]="['/']" class="bread-link-home">Creoprop</span>
                   &nbsp;<span><i class="fa fa-angle-right "></i></span>&nbsp;
              
                   <a href="#/search;tipoOperacion={{propiedad.tipo_propiedad_id}}" class="bread-link">{{propiedad.tipo_propiedad_nombre}}</a>
                   &nbsp;<span><i class="fa fa-angle-right "></i></span>&nbsp;
              
                   <a *ngIf="propiedad.tipo_operacion_id==0"  href="#/search;tipoOperacion=0;tipoPropiedad={{propiedad.tipo_propiedad_id}}" class="bread-link">Vender</a>
                   <a *ngIf="propiedad.tipo_operacion_id==1"  href="#/search;tipoOperacion=1;tipoPropiedad={{propiedad.tipo_propiedad_id}}" class="bread-link">Alquiler</a>
                   <a *ngIf="propiedad.tipo_operacion_id==2"  href="#/search;tipoOperacion=2;tipoPropiedad={{propiedad.tipo_propiedad_id}}" class="bread-link">Alquiler Temporal</a>
                   &nbsp;<span><i class="fa fa-angle-right "></i></span>&nbsp;
                   
                   <!--<a href="#/search;tipoOperacion={{propiedad.tipo_operacion_id}};tipoPropiedad={{propiedad.tipo_propiedad_id}};ubicacion_provincia={{propiedad.id_provincia}}"class="bread-link">{{propiedad.provincia}}</a>
                   &nbsp;<span><i class="fa fa-angle-right "></i></span>&nbsp;-->
              
                   <a href="#/search;tipoOperacion={{propiedad.tipo_operacion_id}};tipoPropiedad={{propiedad.tipo_propiedad_id}};ubicacion_provincia={{propiedad.id_provincia}};ubicacion={{propiedad.id_ciudad}}" class="bread-link">{{propiedad.ciudad}}</a>
                   &nbsp;<span><i class="fa fa-angle-right "></i></span>&nbsp;
              
                   <span class="bread-link-address">{{propiedad.direccion}}</span>
              
                  </span>
                </div>
              <h5 class="card-title title-property">{{propiedad.titulo}}</h5>
            </div>
        </div>

        <div class="card-body img-cont">
          <div id="imgs-det" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item" *ngFor="let v of propiedad.files let i = index" [ngClass]="{'active' : i == 0}">
                <img class="card-img-bottom img-map" [src]="v['nombre'] != 'googlemapimage' ? v['nombre'] : v['url']" [alt]="v.titulo">
              </div>
            </div>

            <a class="carousel-control-prev" href="#imgs-det" data-slide="prev">
              <div class="carrusel-ic">
                <i class="fa fa-angle-left"></i>
              </div>
            </a>
            <a class="carousel-control-next" href="#imgs-det" data-slide="next">
              <div class="carrusel-ic">
                <i class="fa fa-angle-right"></i>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>

    <div class="col-12 c-card">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">UBICACIÓN</h5>
          <span class="col-12 pl-0 subt">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            {{propiedad.direccion}},&nbsp;{{propiedad.nombre_zona}}
          </span>
        </div>
        <agm-map [latitude]="propiedad.latitud" [longitude]="propiedad.longitud" [zoom]="16" [scrollwheel]="false">
          <agm-marker [latitude]="propiedad.latitud" [longitude]="propiedad.longitud" [label]="propiedad.titulo"></agm-marker>
        </agm-map>
      </div>
    </div>

    <div class="row fix-align">
      <div class="col-12 col-md-5 c-card datos-principales">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">DATOS PRINCIPALES</h5>

            <div>
              <div class="col-12">
                <img class="icons" src="assets/img/icons/house.png">
                <span>{{propiedad.tipo_propiedad_nombre}}</span>
              </div>
              <div class="col-12 main-details">
                <img class="icons" src="assets/img/icons/money.png">
                <span  *ngIf="propiedad.tipo_operacion_id==0">Venta: {{propiedad.moneda_simbolo}} {{propiedad.precio | number:'1.0'}}</span>
                <span  *ngIf="propiedad.tipo_operacion_id==1">Alquiler: {{propiedad.moneda_simbolo}} {{propiedad.precio | number:'1.0'}}</span>
                <span  *ngIf="propiedad.tipo_operacion_id==2">Alquiler Temporal:
                  <ul class="temporal-service-prices">
                    <li><span>Día: </span><span> {{propiedad.moneda_simbolo}} {{propiedad.valor_dia | number:'1.0'}}</span></li>
                    <li><span>Semana: </span><span> {{propiedad.moneda_simbolo}} {{propiedad.valor_semana | number:'1.0'}}</span></li>
                    <li><span>Més: </span><span> {{propiedad.moneda_simbolo}} {{propiedad.valor_mes | number:'1.0'}}</span></li>
                  </ul>
                  
                </span>

              </div>
              <div class="col-12">
                <img class="icons" src="assets/img/icons/money.png">
                <span>Expensas: {{propiedad.moneda_simbolo}} {{propiedad.expensas | number:'1.0'}}</span>
              </div>
              <div class="col-12">
                <img class="icons" src="assets/img/icons/stotal.png">
                <span>Superficie Total: {{propiedad.superficie_total}}m2</span>
              </div>
              <div class="col-12">
                <img class="icons" src="assets/img/icons/scubierta.png">
                <span>Superficie Cubierta: {{propiedad.superficie_cubierta}}m2</span>
              </div>
              <div class="col-12">
                <img class="icons" src="assets/img/icons/ambiente.png">
                <span>Ambientes: {{propiedad.ambientes_c}}</span>
              </div>
              <div class="col-12">
                <img class="icons" src="assets/img/icons/dormitorio.png">
                <span>Dormitorios: {{propiedad.dormitorios}}</span>
              </div>
              <div class="col-12">
                <img class="icons" src="assets/img/icons/bano.png">
                <span>Baños: {{propiedad.banios}}</span>
              </div>
              <div class="col-12">
                <img class="icons" src="assets/img/icons/disposicion.png">
                <span>Disposición: {{propiedad.getNombreDisposicion(propiedad.disposicion)}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-5 c-card">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">DESCRIPCIÓN</h5>
            {{propiedad.texto}}
          </div>
        </div>
      </div>

      <div class="col-12 col-md-5 c-card" *ngIf="propiedad.carac_gral && propiedad.carac_gral.length > 0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">CARACTERÍSTICAS GENERALES</h5>

            <div class="col-12">
              <div *ngFor="let ub of propiedad.carac_gral" class="col-12">
                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;{{ub.n}}:&nbsp;{{ub.v}}
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-12 col-md-5 c-card" *ngIf="propiedad.ambientes && propiedad.ambientes.length > 0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">AMBIENTES</h5>

            <div class="col-12">
              <div *ngFor="let ub of propiedad.ambientes" class="col-12">
                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;{{ub.nombre}}
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-12 col-md-5 c-card" *ngIf="propiedad.servicios && propiedad.servicios.length > 0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">SERVICIOS</h5>

            <div class="col-12">
              <div *ngFor="let ub of propiedad.servicios" class="col-12">
                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;{{ub.nombre}}
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-12 col-md-5 c-card" *ngIf="propiedad.amenities && propiedad.amenities.length > 0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">AMENITIES</h5>

            <div class="col-12">
              <div *ngFor="let ub of propiedad.amenities" class="col-12">
                <i class="fa fa-check" aria-hidden="true"></i>&nbsp;{{ub.nombre}}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-3 c-card" style="padding-left: 0px">

      <div class="row header-top-icons">
          <div class="rigth-text">
            <!--<i class="fa fa-heart link-btn"></i>
            <i class="fa fa-share-alt link-btn"></i>-->
            <a href="javascript:window.print()"><i class="fa fa-print link-btn"></i> <span>&nbsp;Imprimir</span></a>&nbsp;&nbsp;
            <a data-toggle="modal" data-target="#denunciaModal" (click)="denunciar()"><i class="fa fa-exclamation-circle"></i> <span>&nbsp;Denunciar aviso</span></a>
          </div>
        </div>
    <div class="row c-card xspace">
      <!-- precio -->
      <div class="col-12 c-card">
        <div class="card card-det">
          <div class="card-body card-prices">
            <div *ngIf="propiedad.tipo_operacion_id==0" class="detail-single-price">
                <div  class="prices-left"><h5 class="card-title may">Venta</h5></div>
                <div  class="prices-rigth align-right"><div class="modern-single-ad-price">{{propiedad.moneda_simbolo}} {{propiedad.precio | number:'1.0' }}</div></div>
            </div>
            <div *ngIf="propiedad.tipo_operacion_id==1"  class="detail-single-price">
                <div  class="prices-left"><h5 class="card-title may">Alquiler</h5></div>
                <div  class="prices-rigth align-right"><div class="modern-single-ad-price">{{propiedad.moneda_simbolo}} {{propiedad.precio | number:'1.0' }}</div></div>
              </div>
              <div *ngIf="propiedad.tipo_operacion_id==2"  class="detail-single-price">
                  <div  class="prices-leftp"><h5 class="card-title may">Alquiler Temporal</h5></div>
                  <div  class="prices-rigthp">
                  <ul class="temporal-service-prices">
                      <li><div class="col-left">Día</div><div class="col-rigth"> {{propiedad.moneda_simbolo}} {{propiedad.valor_dia | number:'1.0'}}</div></li>
                      <li><div class="col-left">Semana</div><div class="col-rigth"> {{propiedad.moneda_simbolo}} {{propiedad.valor_semana | number:'1.0'}}</div></li>
                      <li><div class="col-left">Més</div><div class="col-rigth"> {{propiedad.moneda_simbolo}} {{propiedad.valor_mes | number:'1.0'}}</div></li>
                    </ul>
                  </div>
                </div>            
          </div>
          <div class="card-body topln">
            <div class="row">
              <div class="col rw-det" *ngIf="propiedad.superficie_cubierta != 0">
                <div class="row">
                  <div class="col pl-0 pr-0">
                    <img class="icons" src="assets/img/icons/icon-sup.svg">
                  </div>
                </div>
                <span class="sp">Sup. Cubierta</span>
                <div class="row">
                  <div class="col dt-lg">{{propiedad.superficie_cubierta}}
                    <small>m²</small>
                  </div>
                </div>
              </div>
              <div class="col rw-det" *ngIf="propiedad.ambientes_c != 0">
                <div class="row">
                  <div class="col pl-0 pr-0">
                    <img class="icons" src="assets/img/icons/icon-amb.svg">
                  </div>
                </div>
                <span class="sp">Ambientes</span>
                <div class="row">
                  <div class="col dt-lg">{{propiedad.ambientes_c}}</div>
                </div>
              </div>
              <div class="col rw-det" *ngIf="propiedad.banios != 0">
                <div class="row">
                  <div class="col pl-0 pr-0">
                    <img class="icons" src="assets/img/bath.svg">
                  </div>
                </div>
                <span class="sp">Baños</span>
                <div class="row">
                  <div class="col dt-lg">{{propiedad.banios}}</div>
                </div>
              </div>
              <div class="col rw-det" *ngIf="propiedad.cochera != 0">
                <div class="row">
                  <div class="col pl-0 pr-0">
                    <img class="icons" src="assets/img/icons/icon-coch.svg">
                  </div>
                </div>
                <span class="sp">Cochera</span>
                <div class="row">
                  <div class="col dt-lg">{{propiedad.cochera}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- anunciante -->
      <div class="col-12 c-card">
        <div class="card">
          <div class="card-body">
           <!-- <div class="row">
              <div class="col">
                <h5>
                  <strong>¡Contactá al anunciante!</strong>
                </h5>
              </div>
            </div>!-->
            <div class="row">
              <div class="img-profile-container row" *ngIf="!(+propiedad.feed)">
                <ng-container *ngIf="propiedad.user.tipo_user_id == 2">
                  <img class="c-pointer" *ngIf="propiedad.inmobiliaria && propiedad.inmobiliaria.logo" [src]="propiedad.getInmobiliariaLogo(propiedad.inmobiliaria.logo)"
                    (click)="goToPerfil()">
                </ng-container>
                <ng-container *ngIf="propiedad.user.tipo_user_id != 2">
                  <img class="c-pointer" *ngIf="propiedad.user && propiedad.user.profile_img" [src]="propiedad.user.profile_img" (click)="goToPerfil()">
                </ng-container>
              </div>
              <div class="contact-info-container row" *ngIf="propiedad.user">
                <ng-container *ngIf="!(+propiedad.feed); then normal; else feed"></ng-container>

                <ng-template #normal>
                  <ng-container *ngIf="propiedad.user.tipo_user_id == 2">
                    <div class="row-info"><span>Inmobiliaria: </span><a class="c-pointer" *ngIf="propiedad.inmobiliaria" (click)="goToPerfil()">{{ propiedad.inmobiliaria.nombre }}</a></div>
                    <div class="row-info"><span>Matrícula: </span> #{{ propiedad.inmobiliaria.id }}</div>
                    <div class="row-info"><a class="c-pointer see-all-prop" *ngIf="propiedad.inmobiliaria" (click)="goToPerfil()">Ver todas nuestras propiedades</a></div>
                    <div class="contact-prop">Contactá a la inmobiliaria</div>
                  </ng-container>
                  <ng-container *ngIf="propiedad.user.tipo_user_id != 2">
                      <div class="row-info"><span>Dueño: </span><a class="c-pointer" (click)="goToPerfil()">{{ propiedad.user.name + ' ' + propiedad.user.surname }}</a></div>
                      <div class="contact-prop">Contactá al dueño</div>
                  </ng-container>

                  <div class="col-6 mg-bottom contact-info-with-i" *ngIf="propiedad.user.celular">                   
                      <img src="assets/whatsapp.svg" alt="whatsapp" class=" contact-icons"> {{ propiedad.user.celular }}
                  </div>
                  <div class="col-6 mg-bottom contact-info-with-i" *ngIf="propiedad.user.tel">
                    <i class="fa fa-phone contact-icons"></i>&nbsp;{{ propiedad.user.tel }}
                  </div>
                  
                  <div class="col-12 mg-bottom contact-info-with-i" *ngIf="propiedad.user.email">
                      <i class="fa fa-at  contact-icons"></i>&nbsp; <span>{{ propiedad.user.email }}</span>
                    </div>
                </ng-template>

                <ng-template #feed>
                    <div class="row-info"><span>Dueño: </span><a class="c-pointer" (click)="goToPerfil()">{{ propiedad.user.name + ' ' + propiedad.user.surname }}</a></div>
                    <div class="contact-prop">Contactá al dueño</div>

                  <div class="col-6 mg-bottom contact-info-with-i" *ngIf="propiedad.user.phone">
                    {{ propiedad.user.phone }}
                  </div>
                  <div class="col-12 mg-bottom contact-info-with-i" *ngIf="propiedad.user.email">
                   {{ propiedad.user.email }}
                  </div>
                </ng-template>
              </div>
            </div>

            <div class="row">
              <form class="col-12">
                <div class="form-group">
                  <label>Mensaje</label>
                  <textarea class="form-control" name="message" [(ngModel)]="contact.message"></textarea>
                </div>                

                <div class="form-group">
                  <label>E-Mail</label>
                  <input type="email" class="form-control" name="email" [(ngModel)]="contact.email">
                </div>

                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" name="name" [(ngModel)]="contact.name">
                  </div>

                <div class="form-group">
                  <label>Teléfono</label>
                  <input type="tel" class="form-control" name="phone" [(ngModel)]="contact.phone">
                </div>

                <div class="w-100 text-center">
                  <span *ngIf="propiedad.user.tipo_user_id == 2" type="button" class="btn btn-cred" (click)="sendContact()">Contactar a la inmobiliaria</span>
                  <span *ngIf="propiedad.user.tipo_user_id != 2" type="button" class="btn btn-cred" (click)="sendContact()">Contactar al dueño</span>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>
