.f-prop {
  background-color: #eee;
  padding-bottom: 225px;
}
.container-980 {
  max-width: 980px;
}

form {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}
h3 {
  font-size: 25px;
  font-weight: bold;
}
label {
  font-size: 12px;
}
.ck-label,
.t-ck {
  font-size: 13px;
}
input,
select,
textarea {
  font-size: 11px;
}

.fi {
  margin-bottom: 1rem;
}
.titc {
  margin-top: 10px;
}

agm-map {
  height: 300px;
}

label {
  font-size: 15px;
}

hr {
  margin: 0.8rem 0;
}