.navbar-brand, .nav-link{
  color: #fff !important;
  font-weight: bold !important;
}

.nav-link{
  font-family: 'Roboto-Bold';
}

.navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: -1rem;
  margin-bottom: -1rem;
  font-family: 'Product-Sans-Regular';
  font-size: 1.9em;
}

.navbar{
  height: 3.7em;
}

.navbar-red{
  background-color:#ed1b24ff !important;
}

.navbar-white{
    background-color:#fff;
    box-shadow: 0 1px 6px rgba(0,0,0,.25);
}

.navbar-white .navbar-brand{
  color:#ed1b24ff !important;
}

.navbar-collapse{
  background-color:#ed1b24ff !important;
}

nav .form-control{
    border-radius: 0px;
    border: 1px solid #eee;
    background-color: #eee;
}

nav .btn-search{
  background-color: #eee;
  border-radius: 0px;
  border: 1px solid #eee;
}

nav .btn-search {
  position: absolute;
  background: none;
  top: 6px;
  cursor:pointer;
  left: 8px;
  border: none;
}

nav .btn-search .fa{
  color:#fff !important;
}

nav .form-control {
  border-radius: 5px;
  border: none;
  background-color: rgba(255,255,255,0.5);
  padding-left: 32px;
  color:#fff;
}

nav .form-control::placeholder { color: #fff; }
