<nav [ngClass]="{'navbar':true, 'navbar-white':!navbar_red, 'navbar-red':navbar_red, 'navbar-expand-lg':true, 'fixed-top':true, 'navbar-light':true}">
  <a class="navbar-brand" routerLink="/">
    <img src="assets/logo.svg" width="auto" height="50px" alt="">
    creoprop
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse row" id="navbarSupportedContent" *ngIf="navbar_red">
    <form class="my-2 my-lg-0 col-sm-3">
      <div class="input-group add-on">
      <input class="form-control" placeholder="¿Dónde estás buscando?" name="srch-term" id="srch-term" type="text" >
      <div class="input-group-btn">
        <button class="btn btn-search"><i class="fa fa-search"></i></button>
      </div>
    </div>
    </form>
    <div class="col">
    </div>
    <div class="col-sm-auto order-last">
      <ul class="navbar-nav mr-auto align-self-end">
        <li class="nav-item" routerLink="/select-plan" *ngIf = "!registrado">
          <a class="nav-link">PUBLICAR UNA PROPIEDAD</a>
        </li>
        <li class="nav-item" routerLink="/new-prop" *ngIf = "registrado">
          <a class="nav-link">PUBLICAR UNA PROPIEDAD</a>
        </li>
        <li class="nav-item" data-toggle="modal" data-target="#modalReg" *ngIf = "!registrado">
          <a class="nav-link">REGISTRARME</a>
        </li>
        <li class="nav-item" data-toggle="modal" data-target="#loginModal" *ngIf = "!registrado">
          <a class="nav-link">INICIAR SESIÓN</a>
        </li>
        <li class="nav-item dropdown" *ngIf = "registrado">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            MI CUENTA ({{userName}})
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/mi-cuenta">ÁREA PERSONAL</a>
            <a class="dropdown-item" (click)="logOut()">SALIR</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
